:root {
    --screen-black: #000000;
    --title-blue: #0000a8;
    --win-green: #098083;
    --beige: #baa789;
    --sky-blue: #bce5f7;
    --border-grey: #bac5c4;
    --text-white: #ffffff;
}

@font-face {
    font-family: 'sv_basic_manualbook';
    src: url('svbasicmanual-nrpp-webfont.woff2') format('woff2'),
         url('svbasicmanual-nrpp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    border: solid 2px red;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex 1;
    background-color: var(--win-green);
    box-sizing: border-box;
    font-family: 'Microsoft Sans Serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-frame {
    display: flex 1;
    width: fit-content;
    border: 5px solid var(--border-grey);
    background-color: var(--screen-black);
}

.title-bar {
    background-color: var(--title-blue);
    font-family: 'sv_basic_manualbook';
    height: 30px;
    display: flex;
}

.title-bar h2 {
    margin-top: 0;
    margin-left: 10px;
    color: var(--text-white);
}

.tool-bar {
    background-color: var(--border-grey);
    font-family: 'sv_basic_manualbook';
    height: 40px;
    display: flex;
    align-items: center;
}

.tool-bar select {
    border: 5px solid var(--border-grey);
    height: max-content;
    font-size: large;
}

.window-body {
    background-color: var(--screen-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.window-body pre{
    color: var(--text-white);
    display: flex 1;
}

.blink {

}