:root {
    --screen-black: #000000;
    --title-blue: #0000a8;
    --win-green: #098083;
    --beige: #baa789;
    --sky-blue: #bce5f7;
    --border-grey: #bac5c4;
    --text-white: #ffffff;
    --stand-out: 1px  1px black, -1px -1px white, 1px 1px inset lightgray, -1px -1px inset darkgray;
    --sink-in: -1px -1px inset white, 1px 1px inset black, -1px -1px darkgray, 1px 1px lightgray;
}

@font-face {
    font-family: 'sv_basic_manualbook';
    src: url('svbasicmanual-nrpp-webfont.woff2') format('woff2'),
         url('svbasicmanual-nrpp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--win-green);
}

.desktop {
    display: grid;
}

.overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.window-frame {
    width: fit-content;
    border: 5px solid var(--border-grey);
    background-color: var(--screen-black);
    box-shadow: var(--stand-out);
}

.title-bar {
    background-color: var(--title-blue);
    font-family: 'sv_basic_manualbook';
    height: 30px;
    display: flex;
    box-shadow: var(--sink-in);
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
}

.dos-logo {
    margin: 4px;
}

.title-bar p {
    margin-right: auto;
    color: var(--text-white);
    font-size: 24px;
    font-weight: 700;
}

.control-button {
    background-color: var(--border-grey);
    border: 1px;
    margin: 1px;
    box-shadow: var(--stand-out);
}

.control-button.exit {
    margin-left: 4px;
    margin-right: 4px;
}

.tool-bar {
    background-color: var(--border-grey);
    font-family: 'sv_basic_manualbook';
    height: 35px;
    display: flex;
    align-items: center;
}

.tool-bar select {
    margin: 2px 10px 2px 0px;
    height: max-content;
    font-size: large;
    text-align: center;
    text-align-last: center;
    padding: 0 10px;
    box-shadow: var(--sink-in);
}

.option {
    text-align-last: center;
}

.tool-button {
    box-shadow: var(--stand-out);
    margin-right: 2px;
    border: transparent;
}

.window-body {
    background-color: var(--screen-black);
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px;
    box-shadow: var(--sink-in);
}

.window-body pre {
    color: var(--text-white);
    font-size: x-large;
}

.task-bar {    
    position: absolute;
    bottom: 0;
    display: flex;
    height: 40px;
    width: 100vw;
    background-color: var(--border-grey);
    padding: 5px;
}

.start-button {
    background-color: var(--border-grey);
    border: transparent;
    box-shadow: var(--stand-out);
    display: flex;
    gap: 2px;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}

.tray {
    width: 85px;
    box-shadow: var(--sink-in);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clock {
   margin: 4px;
}